.form-item--radios,
.form-item--radio__item {
  @include list-reset;
}

.form-item--radio {
  border: 0;
  padding: 0;
}

.form-item.form-item--radio__item,
.form-item--radio__item {
  position: relative;
  margin: 0 0 1.2rem 0;
  display: flex;
  align-items: center;

  &:last-child {
    margin: 0;
  }

  .form-item__description {
    width: 100%;
    order: 2;
    margin-top: var(--space);
    margin-bottom: 0;

    p {
      margin: 0;
    }
  }

  input {
    align-self: flex-start;
    flex-shrink: 0;
    appearance: none;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 1;
    margin: 0 var(--padding-small) 0 0;
    padding: 0;
    border: 0.1rem solid var(--black);
    border-radius: 50%;

    &:focus-visible {
      @include focus-outline;
    }

    &:checked {
      border-width: 0.1rem;

      & + label::before {
        opacity: 1;
      }
    }
  }

  label::before {
    content: "";
    border-radius: 50%;
    background: var(--brand-primary);
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    opacity: 0;
  }
}

.webform-radios-other-input {
  margin-top: var(--padding-large);

  &.form-item .form-item__label {
    margin-bottom: var(--padding-medium);
    padding-top: var(--padding-small);
    color: var(--brand-primary);
    font-size: var(--heading--main);
    font-family: var(--font-heading);
    font-weight: var(--font-extrabold);
  }
}
