<div class="cta-section">
	<div class="cta-section__image">
		<img src="{{ section_image }}"/>
	</div>

	<div class="cta-section__content">
		<div class="cta-section__text">
			{% include "@atoms/heading/heading.twig" with {
                heading: section_title,
                heading_level: 2,   
            } %}
			{% include "@atoms/heading/heading.twig" with {
                heading: section_text,
                heading_level: 3,
            } %}
		</div>

		{% include "@atoms/button/button.twig" with {
            button_content: section_cta_text|default('Sign Up'|t),
            button_url: section_cta_url|default('#'),
        } %}

	</div>
</div>
