table,
.table {
  border-spacing: 0;
  border-collapse: collapse;
  color: var(--text);
  font-size: var(--body-copy);
  margin: var(--space-double) 0;
  width: 100%;
}

th,
td,
.table__heading-cell,
.table__cell {
  border-bottom: 0.1rem solid var(--table-border);
  padding: var(--padding-default);

  p {
    margin: 0 !important;
  }
}

.table__mobile-header {
  display: none;
  padding: 0;
}

div.table-container {
  overflow-x: auto;

  &:focus,
  &:focus-within {
    outline: 0.4rem solid var(--link-active-outline);
    outline-offset: 0.4rem;
  }
}

.responsive--processed {
  caption {
    text-align: left;
    font-weight: var(--font-semibold);
  }
}

/* Specific selectors for regular table */
table:not(.table--small-content) {
  thead th {
    font-size: var(--heading--xsmall);
    font-family: var(--font-heading);
    font-weight: var(--font-extrabold);
    line-height: 1.35;

    span {
      color: var(--text-light);
    }
  }

  th,
  .table__mobile-header,
  .table__heading-cell {
    color: var(--text-light);
    background-color: var(--table-default-heading-bg);
    text-align: left;
  }
}

/* Small table variation */
.table--small-content {
  font-size: var(--body-small);
  tr,
  th {
    background-color: unset;
  }

  td,
  th {
    border: 0.1rem solid var(--secondary-orange);
    border-width: 0.1rem 0 0;
    color: var(--text-light);
    text-align: end;
  }

  thead th {
    font-weight: var(--font-body);
  }

  thead th:first-child,
  tbody tr td:first-child {
    font-weight: var(--font-semibold);
    font-size: var(--body-copy);
    text-align: start;
  }
}

/* Mobile-only overrides the default table semantics. */
@media (max-width: map-get($grid-breakpoints, 'lg') - 1) {
  .responsive--processed {
    display: block;

    thead {
      display: none;
    }

    td,
    tr,
    th,
    caption,
    tbody,
    tfoot {
      display: block;
      padding: 0;
      border: 0;
    }

    td {
      display: flex;
      align-items: center;
      padding-top: 0.3rem;
    }

    .table__mobile-header {
      display: block;
    }

    /* Specific selectors for regular table */
    &:not(.table--small-content) {
      border-top: 0;
      border-width: 0.1rem;

      tbody tr {
        margin-bottom: var(--space);
      }

      caption {
        padding: var(--padding-default);
      }

      td {
        border-bottom: 0.1rem solid var(--table-border);
      }

      tfoot td {
        padding: var(--padding-default);
      }

      td:nth-child(even) {
        background-color: var(--table-bg-inverse);
      }
      td:nth-child(odd):not(.table__footer-cell) {
        background-color: var(--table-default-bg);
      }

      .table__mobile-header {
        margin-right: var(--padding-default);
        padding: var(--padding-default);
        min-width: 35%;
        width: 35%;
        font-size: var(--heading--xsmall);
        font-family: var(--font-heading);
        font-weight: var(--font-extrabold);
        line-height: 1.35;
      }
    }

    /* Small table variation */
    &.table--small-content {
      tbody tr td:first-child {
        text-align: end;
      }

      tbody tr td .table__mobile-header {
        text-align: start;
        margin-right: var(--padding-default);
      }

      td {
        justify-content: space-between;
        padding: var(--padding-default) var(--padding-small);
        border-bottom: 0.1rem solid var(--secondary-orange);

        &:last-child {
          border-width: 0.2rem;
        }
      }
    }
  }
}

@include large {
  table:not(.table--small-content) {
    thead {
      background-color: var(--table-default-heading-bg);
    }

    th,
    .table__mobile-header,
    .table__heading-cell {
      background-color: transparent;
    }
  }
}
