@import "../../imports.scss";

.cta-splash {

  &__container {
    background-color: rgba(30, 30, 30, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    place-content: center;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 550px;

    .cta-splash__subtitle {
      line-height: 24px;
      font-size: 16px;
      margin-bottom: 32px;
      text-align: center;
      color: var(--white);
      max-width: 56%;

      @include medium {
        font-size: 24px;
      }
    }

    .cta-splash__heading {
      max-width: 90%;
      color: var(--white);
      display: block;
      font-size: 36px;
      line-height: 44px;
      padding-bottom: 32px;

      @include medium {
        font-size: 48px;
        line-height: 45px;
        max-width: 100%;
      }
    }

    .cta-splash__description {
      font-size: 14px;
      line-height: 16px;
      max-width: 62%;
      margin-bottom: 32px;
      text-align: center;
      color: var(--white);

      @include medium {
        font-size: 16px;
      }
    }

    .button {
      padding-left: 4rem;
      padding-right: 4rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      @include medium {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }

}
