{{ attach_library('oh_my_pasta/cta-splash') }}

<div class="cta-splash" style="
				  background: url('{{ cta_splash_image }}') center center / cover;
				  position: relative;
				  height: 600px;
				  ">

	<div class="cta-splash__container">

		<div class="cta-splash__content">

			{% include "@atoms/heading/heading.twig" with {
        heading: cta_splash_title,
        heading_level: 2,
        heading_blockname: "cta-splash",

    } %}

			<span class="cta-splash__subtitle">
				{{ cta_splash_subtitle }}
			</span>

			<span class="cta-splash__description">
				{{ cta_splash_description }}
			</span>

			{% include "@atoms/button/button.twig" with {
            button_content: cta_splash_cta|default('Find Restaurant'|t),
            button_url: cta_splash_url|default('#'),
        } %}

		</div>


	</div>
</div>
