.cta-section {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  justify-content: flex-end;

  &__image {
    img {
      width: 65px;
      height: 65px;
    }

    @media (min-width: 1114px) {
      display: flex;
      justify-content: center;
      margin-right: 0;
    }
  }

  &__content {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 250px;
  }

  &__text {
    max-width: 100%;
    display: block;

    h2,
    h3 {
      color: var(--black);
      text-transform: none;
      display: block;
      text-align: center;
    }

    h2 {
      line-height: 42px;
      letter-spacing: 0px;
      font-size: 28px;

      @media (min-width: 768px) {
        font-size: 32px;
        padding-bottom: 24px;
        letter-spacing: -1px;
      }
    }

    h3 {
      font-size: 16px;
      font-weight: normal;
      line-height: 23px;
      letter-spacing: 0.02rem;

      @include medium {
        font-size: 24px;
        letter-spacing: 0.04rem;
        padding-bottom: 24px;
        min-height: 120px;
      }
    }
  }

  .button {
    padding: 0.5rem;
    font-size: 16px;

    @media (min-width: 768px) {
        font-size: 24px;
      }
  }

  @media (min-width: 1114px) {
    flex-flow: column;
    margin: 1rem;
    align-items: center;
  }
}
