@import "../../imports";

.footer__top {
  padding: var(--padding-xl) 0 var(--padding-large) 0;

  .accordion .accordion__button {
    font-size: var(--heading--small);
  }
}

.footer__main {
  padding: var(--padding-xxl) 0 0 0;
  background-color: var(--brand-primary-tint);

  .heading {
    margin-bottom: var(--padding-medium);
  }

  .text-long {
    * {
      color: var(--brand-primary);
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }
}

.footer__inner {
  align-items: flex-start;

  & > div {
    margin-bottom: var(--padding-large);
  }
}

.footer__bottom {
  padding: var(--padding-default) var(--padding-medium);
  color: var(--text-light);
  background-color: var(--brand-primary);

  .paragraph {
    max-width: 125rem;
    margin: 0 auto;
  }
}

.footer__main__links {
  .icon-menu:first-child {
    margin-bottom: var(--padding-large);
  }
}

@include large {
  .footer__top .accordion .accordion__button {
    padding: 1.4rem 2.2rem; /* -0.2rem from border */
  }

  .footer__main {
    padding: var(--padding-xxl) 0 var(--space-quadruple) 0;
  }
}
