<form class="search-block-form visually-hidden" action="/search" method="get" id="search-block-form">
  <div class="form-item">
    <label for="edit-search-block-form--2" class="visually-hidden">{{ 'Search'|t }}</label>
    <input title="{{ 'Enter the terms you wish to search for.'|t }}" placeholder="{{ 'Search'|t }}" type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" class="form-text">
  </div>
  <div class="form-actions">
    <button type="submit" id="edit-submit" class="button">{{ 'Search'|t }}</button>
  </div>
</form>
