@import '../../imports.scss';

.downloads {
  position: relative;
  margin-bottom: var(--padding-large);

  .heading {
    margin-bottom: var(--space-double);
    padding-top: var(--padding-small);
  }
}

.downloads__content {
  padding: var(--padding-default) var(--padding-small);
}

.downloads__list {
  padding-left: 0;
}

.downloads__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-default) var(--padding-small);
  margin: 0;
  border-top: 0.1rem solid var(--secondary-orange);

  &::before {
    content: none;
  }
}

.downloads__docname {
  margin-right: var(--padding-default);
}

.downloads__download {
  display: flex;

  .icon {
    height: 2.2rem;
    width: 2.2rem;
  }
}
