{#
/**
 * @file
 * Default theme implementation to display a search did you mean.
 *
 * Available variables:
 * - label: Text to display in front of the did you mean.
 * - link: The link (\Drupal\Core\Link object) to which the did you mean will
 *   redirect the user.
 *
 * @ingroup themeable
 */
#}

<div class="search-results__did-you-mean">
  <p class="search-results__highlighted">{{ 'Did you mean'|t ~ ' ' ~ link.text ~ '?' }}</p>
  <p>{{ 'Show results for'|t }} {{ link }}</p>
</div>

