.cta-sections-grid {
  padding-bottom: 2rem;

  &--wrapper {
    background-color: var(--secondary-deep-peach);
  }

  h2.heading--cta-sections-grid {
    text-align: center;
    color: var(--dark-grey);
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
  }

  .cta-sections-grid__scrollable-group {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;

    .cta-section--cta-sections-grid {
      display: flex;
      flex-direction: column;
      padding: 20px;
      padding-top: 0;
      min-width: 100%;
      align-items: center;
      justify-content: space-between;

      .cta-section__image {
        padding-bottom: 16px;

          img {
            width: 100%;
            height: 100%;
          }
      }

      .cta-section__content {
        max-width: 100%;

        .cta-section__text {
          max-width: 100%;
          display: block;

          h2.cta-section__heading {
            padding-top: 16px;
            font-size: 28px;
            letter-spacing: -1px;
            text-align: center;
            padding-bottom: 24px;
          }

          h3.heading--sub {
            font-size: 16px;
            text-align: center;
            font-weight: normal;
            padding-bottom: 24px;
            min-height: 100px;
          }
        }
      }
    }
  }

  @media (min-width: 774px) {
    flex-direction: column;
    align-items: center;

    .cta-sections-grid__scrollable-group {
      flex-flow: wrap;
      justify-content: center;
      overflow-x: auto;
      max-width: 1184px;

      .cta-section--cta-sections-grid {
        max-width: 432px;
        min-width: 432px;

        .cta-section__image {
          position: relative;
        }
      }
    }
  }
}
