.cta-sections-grid {
  padding-bottom: 2rem;

  &--wrapper {
    background-color: var(--secondary-deep-peach);
  }

  .heading--cta-sections-grid {
    text-align: center;
    color: var(--dark-grey);
    max-width: 500px;
    margin: auto;
    padding-top: var(--padding-xl);
  }

  .cta-sections-grid__scrollable-group {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;

    .cta-section--cta-sections-grid {
      display: flex;
      flex-direction: column;
      padding: 20px;
      min-width: 90%;
      align-items: center;
      justify-content: space-between;

      .cta-section__image {
        padding-bottom: 2rem;
      }

      .cta-section__content {
        max-width: 100%;

        .cta-section__text {
          max-width: 100%;
          display: block;

          h2.cta-section__heading--main {
            font-size: 2.4rem;
            text-align: center;
            padding-bottom: var(--space-triple);
          }

          h3.cta-section__heading--main {
            font-size: 1.4rem;
            text-align: center;
            font-weight: 600;
            padding-bottom: var(--space-double);
          }
        }
      }
    }
  }

  @media (min-width: 774px) {
    flex-direction: column;
    align-items: center;

    .cta-sections-grid__scrollable-group {
      flex-flow: wrap;
      justify-content: center;
      overflow-x: auto;
      max-width: 1184px;

      .cta-section--cta-sections-grid {
        max-width: 45%;
        min-width: 45%;

        .cta-section__image {
          position: relative;
        }
      }
    }
  }
}
