:root {
  /* Mobile fonts */
  --heading--title-large: 4.8rem;
  --heading--title: 3.2rem;
  --heading--main: 2.8rem;
  --heading--sub: 2.4rem;
  --heading--small: 2.1rem;
  --heading--xsmall: 1.9rem;
  --heading--tiny: 1.8rem; /* Not in the designs - general size */
  --body-copy: 1.8rem;
  --body-small: 1.6rem;
  --body-large: 2rem;

  /* Desktop fonts */
  @media (min-width: 768px) {
    --heading--title-large: 5.6rem;
    --heading--title: 4.8rem;
    --heading--main: 3.2rem;
    --heading--sub: 2.8rem;
    --heading--small: 2.4rem;
    --heading--xsmall: 2.1rem;
    --heading--tiny: 1.8rem; /* Not in the designs - general size */
    --body-copy: 1.8rem;
    --body-small: 1.6rem;
    --body-large: 2.3rem;
  }

  /* Fonts */
  --font-body: 'Catamaran', sans-serif;
  --font-heading: 'Lato', sans-serif;
  --font-extrabold: 900;
  --font-bold: 700;
  --font-semibold: 600;
  --font-medium: 500;
  --font-weight-default: 400;

  /* Spacing */
  --space: 1rem;
  --padding-xxl: 6.4rem;
  --padding-xl: 4.8rem;
  --padding-large: 3.2rem;
  --padding-medium: 2.4rem;
  --padding-default: 1.6rem;
  --padding-small: 0.8rem;
  --padding-xsmall: 0.4rem;

  /* Times */
  --space-double: 2rem;
  --space-triple: 3rem;
  --space-quadruple: 4rem;
  --space-quintuple: 5rem;
  --space-sextuple: 6rem;
  --space-septuple: 7rem;
  --space-octuple: 8rem;

  /* Divided */
  --space-one-half: calc(var(--space) / 2);
  --space-one-third: calc(var(--space) / 3);
  --space-one-fourth: calc(var(--space) / 4);
  --space-one-fifth: calc(var(--space) / 5);
  --space-one-sixth: calc(var(--space) / 6);
  --space-one-seventh: calc(var(--space) / 7);
  --space-one-eighth: calc(var(--space) / 8);

  /* Borders, box shadows, etc */
  --border-radius: 0.4rem;
  --card-box-shadow: 0.1rem 0.1rem 1rem 0 rgba(0, 0, 0, 0.10);

  /* Breakpoints */
  --phone: 0;
  --phone-wide: 480px;
  --phablet: 540px;
  --tablet: 768px;
  --tablet-wide: 1024px;
  --desktop: 1280px;
  --desktop-wide: 1440px;

  /* Grid Variables */
  --grid-columns: 12;
  --page-content: 1120px;
}
