@import "../../imports";

.local-tasks {
  background-color: var(--brand-primary-tint);
}

.local-tasks__nav {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem var(--space-double);
  padding: var(--space-double) 0;

  li {
    margin-bottom: 0;
  }
}
