@import '../../imports.scss';

.hero {
  position: relative;
  padding-bottom: var(--space-triple);
  max-width: 192rem; /* Avoids making it huge on ultrawide screens */
  margin: 0 auto;

  .hero__background-img {
    background-image: url("https://dummyimage.com/1920x650/d9d9d9/242424");     
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
  }
}

.hero__image {
  position: relative;

  img {
    max-height: 35rem;
    object-fit: cover;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 4%, rgba(0, 0, 0, 0.35) 50%, rgba(0, 0, 0, 0.05) 60%, rgba(0, 0, 0, 0.00) 100%);
  }
}

.hero__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 115.2rem; /* Adjusting container max-width due to different padding than all other containers */
  padding: 0 var(--padding-default);

  .heading {
    margin-bottom: var(--padding-medium);
    color: var(--text-light);
  }
}

.hero__form {
  margin: 0 auto;

  form {
    @include search-form($padding: var(--padding-default) var(--space), $button-size: 6rem);
  }

  // form .form-item__textfield {
  //   box-shadow: 0 0 0 0.4rem var(--white);
  // }
}

@include medium {
  .hero__image::after {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 4%, rgba(0, 0, 0, 0.35) 40%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.00) 100%);
  }

  .hero__content .heading {
    text-align: center;
  }
}
