@import '../../imports.scss';

.hero {
  padding-bottom: var(--space-octuple);

  @include medium {
    padding-bottom: 16rem;
   }

    @include large {
      margin-left: auto;
      margin-right: auto;
      padding-left: var(--padding-medium);
      padding-right: var(--padding-medium);
      max-width: unset;
    }

   @include xl {
    padding-bottom: var(--space-octuple);
   }
}

.hero__image {
  position: absolute;
  justify-self: center;

  img {
    filter: brightness(0.8);
    max-height: 393px;

    @include medium {
      max-height: 520px;
    }
  }
}

.hero__content {
  position: relative;
  padding: 0rem var(--padding-default);
  padding-top: var(--padding-medium);
  padding-bottom: 0rem;

  @include sm-sm {
    padding-top: 10rem;
  }

  @include small-med {
    padding-left: var(--padding-medium);
    padding-right: var(--padding-medium);
  }

  @include medium {
    width: 50%;
    padding-top: var(--padding-xxl);
  }

  @include large {
    padding-top: 16rem;
  }

  @include xl {
    width: 40%;
  }

  @include xxl {
    padding-left: 12rem;
    padding-top: 12rem;
  }

  @media (min-width: 1992px) {
    padding-bottom: 18rem;
  }

  h2,
  h3,
  p {
    color: var(--white);
  }

  .hero__subheading h2 {
    font-size: var(--body-small);
    font-weight: 100;
  }

  .hero__heading h3 {
    font-size: var(--heading--title-large);
    font-weight: var(--font-bold);
    letter-spacing: -0.05rem;
    line-height: 45px;
  }

  .hero__description p {
    font-weight: 100;
    font-size: 14px;
    line-height: 32px;
  }
}
