.tabs-listing {
  .tabs-listing__heading {
    text-align: center;
    margin-bottom: 20px;
    color: var(--black);
  }

  .tabs-listing__tabs-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    .table-item {
      box-sizing: border-box;
      width: 33.33%;
      display: flex;
      height: 40px;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: rgb(255, 255, 255);
      border-bottom: 2px solid var(--usage-color-border-default);
      transition: background-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;

      .table-item__title {
        color: var(--black);
        display: block;
        font-weight: 700;
        font-size: 1.6rem;
      }

      &.active {
        font-weight: bold;
        border-bottom: 2px solid black;
      }
    }
  }

  .tabs-listing__list-group {
    .tab-list {
      display: flex;
      flex-flow: wrap;
    }

    .list-item {
      width: 20%;
      transition: background-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    }
  }
}
