.tabs-listing {

  .tabs-group {
    .table-item {
      box-sizing: border-box;
      width: 33.33%;
      display: flex;
      height: 40px;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      text-align: center;
      background: rgb(255, 255, 255);
      border-bottom: 3px solid var(--usage-color-text-subdued-default);
      transition: background-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
      transition-behavior: normal, normal;
      transition-duration: 0.15s, 0.15s;
      transition-timing-function: ease-in-out, ease-in-out;
      transition-delay: 0s, 0s;

      .table-item__title {
        color: var(--black);
        display: block;
        font-weight: 700;
        font-size: 1.6rem;
      }
    }
  }

  .list-group {
    display: flex;
    flex-flow: wrap;

    .list-item {
      width: 50%;
      transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }
}
