@import '../../../imports.scss';

.menu--main {
  display: flex;
  flex-direction: column;

  & > .menu__item:not(:last-child) {
    margin: 0 0 var(--padding-large) 0;
  }

  .menu__item {
    position: static;
    display: flex;
    align-items: center;

    .icon {
      margin-left: var(--space);
    }

    &:first-child {
      width: 220px;
      justify-content: center;
      padding-left: 24px;
    }
  }

  .menu__link {
    font-weight: var(--font-medium);

    &.menu__link--level-zero {
      font-size: var(--body-large);
      font-family: var(--font-heading);
      line-height: 1.275;
      text-decoration: none;

      &:hover,
      &[aria-expanded="true"] {
        color: var(--secondary-green);
        text-decoration: underline;
      }
    }
  }

  .menu__link--expand-sub {
    display: inline-flex;
    align-items: center;

    .icon {
      height: 1.6rem;
      width: 0.8rem;
      margin-left: var(--space);
    }
  }

  &.menu--sub > .menu__item:not(:last-child) {
    margin: 0 0 var(--padding-xl) 0;
  }

  .menu--sub-wrapper {
    display: none;
    position: absolute;
    background-color: var(--white);
    z-index: 25;

    .menu__item {
      margin-right: 0;
      width: 100%;
    }
  }

  .menu--sub__back {
    margin-bottom: var(--padding-large);
    font-family: var(--font-body);
    font-size: var(--body-copy);
    text-decoration: underline;
    text-underline-offset: 0.15em;
  }

  .menu--sub-wrapper.is-expanded {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-large) var(--padding-medium);
    box-shadow: inset 0 0.6rem 0.4rem 0 rgba(0, 0, 0, 0.05);

    /* Adds higher padding to compensate for dvh not working and vh hiding the last links */
    @supports not (height: 100dvh) {
      padding: var(--padding-large) var(--padding-medium) 12.8rem var(--padding-medium);
    }
  }
}

/* Desktop selectors */
@include large {
  .menu--main {
    flex-direction: row;
    gap: var(--padding-medium);
    padding-top: 24px;

    & > .menu__item:not(:last-child) {
      margin: 0;
    }

    .menu__link--expand-sub .icon {
      width: 1.6rem;
      transform: rotateZ(90deg);
    }

    &.menu--sub {
      flex-direction: column;
      flex-wrap: wrap;
      gap: var(--padding-large);
      max-height: 34.6rem;
      width: 100%;
      max-width: 100%;
      z-index: 5;

      & > .menu__item:not(:last-child) {
        margin: 0;
      }
    }

    .menu--sub-wrapper {
      .menu__item {
        width: auto;
      }

      &.is-expanded {
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 116.8rem;
        padding: var(--space-quadruple) var(--padding-medium);
        background-color: transparent;
        box-shadow: none;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: -50%;
          right: -50%;
          height: 100%;
          background-color: var(--light-grey);
        }
      }
    }
  }

  .menu--sub__back {
    display: none;
  }
}

/* Desktop-down selectors for stuff that would be harder to override */
@include media-breakpoint-down(md) {
  .menu--main .menu--sub-wrapper {
    top: 0;
    right: 0;
    left: 0;
  }
}
