/* Estilos para NodePage */
.node {
  width: 100%;
}

.nodeHeader {
  padding: 2rem 0;
  text-align: center;
}

.nodeHeader h1 {
  font-size: 2.5rem;
  margin: 0;
}

.nodeContent {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.loading {
  padding: 40px;
  text-align: center;
}

.error {
  padding: 40px;
  color: red;
}

.notFound {
  padding: 40px;
}
