@import '../../imports.scss';

/* Extra selectors for the grid faq variation */
@include media-breakpoint-down(sm-md) {
  .grid.grid--faq-columns .grid__items [class*="col-"]:not(:last-child) > * {
    margin-bottom: var(--padding-small);
  }
}

@include large {
  .grid.grid--faq-columns {
    padding: var(--space-quadruple) 0 var(--padding-small) 0;

    .grid__items .accordion {
      flex-grow: 0;
    }
  }

  .grid.grid--faq-full {
    padding: 0 0 var(--padding-small) 0;

    .grid__items .accordion {
      margin-bottom: var(--padding-medium);
    }
  }
}
