{# File for Storybook purposes #}

{% embed "@organisms/grid/grid.twig" with {
  grid_heading: accordion_faq_heading,
  grid_heading_level: accordion_faq_heading_level,
  grid_bg_color: 'white',
  grid_type: 'faq-columns',
} %}
  {% block grid_items_block %}
    {% for item in accordion_faq_items %}
      <div class="col-md-4">
        {% include "@molecules/accordion/accordion.twig" with {
          accordion_heading: item.heading,
          accordion_heading_level: item.heading_level,
          accordion_content: item.content,
        } %}
      </div>
    {% endfor %}
  {% endblock %}
{% endembed %}
