@import '../../imports.scss';

.search-result {
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 0.1rem solid var(--secondary-orange);
  margin-bottom: var(--padding-default);
}

.search-result__date {
  display: block;
  font-size: var(--body-small);
  margin-bottom: var(--padding-small);
}

.search-result__heading {
  font-size: 2.1rem;

  .heading__link {
    text-decoration: none;
    width: 100%;
    display: block;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &:focus-visible {
      outline: none;
      box-shadow: none;
    }

    &:hover,
    &:focus-visible {
      text-decoration: underline;
      text-decoration-thickness: 0.1rem;
      text-underline-offset: 0.25em;
    }
  }
}

.search-result__description {
  margin-bottom: var(--padding-default);

  p {
    margin-bottom: 0;
  }
}
